@media only screen and (max-width: 600px) {
  /* Tampilan */
  body{
    background: url(bg1.jpg) no-repeat center fixed;
    background-size: cover;
  }
  ul{
    list-style: none;
  }
  .judul{
    font-size: 25px;
    text-decoration: underline;
    position: absolute;
    margin-top: 1%;
    color: white;
  }
  .teks {
    font-size: 9px;
    position: absolute;
    margin-top: 7%;
    color: white;
  }
  .container {
    display: inline-flex;
    background-image: linear-gradient(to left,black,blue);
    margin-left: -1%;
    margin-top: -1%;
    margin-right: -0.5%;

  }
  .gambar {
    width: 10%;
    height: 10%;
    margin-right: -7%;
    margin-left: 4%;
    margin-top: 4%;
  }
  .nama{
    font-size: 7px;
    margin-left: 72%;
    color: white;
  }
  .kunci{
    width: 6%;
    height: 7%;
    position: relative;
    left: 73%;
  }
  .arah{
    width: 5%;
    height: 8%;
    position: relative;
    left:83%;
  }
  .keluar{
    text-decoration: none;
    color: white;
  }
  .keluar:hover{
    color: red;
  }
  #keluar{
    display: inline-flex;
    padding-right: 8px;
    position: relative;
    left: 70%;
    right: -10%;
    font-size: 8px;
  }
  .menu{
    font-size: 15px;
    color: white;
    text-decoration: none;
    padding-right: 20px;
    float: left;
  }
  .menu:hover{
    color: red;
  }
  #menu{
    display:inline-flex;
    position: relative;
    left: -10%;
  }
  .Pengaduan{
    font-size: 15px;
    text-decoration: none;
    color: white;
    float: right;
  }
  .Pengaduan:hover{
    color: red;
  }
  #panduan{
    position: relative;
    right: 3%;
    margin-top: 2%;
  }
  /* Tampilan Beranda */
  .Periode{
    background-color: white;
    margin-left: 10%;
    margin-top: 4%;
    width: 75%;
    border-radius: 20px;

  }
  h3{
    padding-top: 2%;
    margin-left: 5%;
    font-size: 15px;
  }
  .tanggal{
    margin-left: 4%;
    margin-top: 2%;
    text-align: center;
    border: 0%;
    border-collapse: collapse;
    width: 3%;
    background-color: white;
    float: left;
    font-size: 7px;
  }
  .kepala{
    color: white;
    background-image: linear-gradient(to right,black,blue);
  }
  .kegiatan2{
    width: 56%;
    line-height: 2px;
    margin-right: 1%;
    padding-bottom: 3%;
    font-size: 5px;
  }
  .event{
    margin-top: 10px;;
    width: 82%;
    margin-left: 3%;
    line-height: 2px;
    padding: 2px;
  }
  .event ul li {
    background-color: white;
    border-radius: 10px;
    padding: 1% 0 1% 3%;
    margin: 3% 0;
  }
  h4{
    font-size: 15px;
    text-decoration: underline;
  }

  /* Tampilan Pelajaran */
  .jadwal{
    border: 0px;
    border-collapse: collapse;
    background-color: white;
    width: 100%;
    border-color: #808080;
  }
  th{
    background-color: #00CED1;
  }
  td{
    padding: 2%;
  }
  .isi{
    background-image: linear-gradient(to right,black,blue);
    border-radius: 10px;
    margin: 5%;
    padding: 1%;
    text-align: center;
    font-size: 9px;
  }
  .jadwal h1{
    color: white;
  }


    /* Nilai */
    .nilai1{
      border-collapse: collapse;
      background-color: white;
      width: 100%;
    }
    .nilai1 thead{
      background-color: 	#00FFFF;
    }
    .nilai{
      background-image: linear-gradient(to right,black,blue);
      border-radius: 10px;
      margin: 7%;
      padding: 3%;
      text-align: center;
      font-size: 7px;
    }
    .nilai h1{
      color: white;
    }


    /* Profil */
    .orang2{
      width: 20%;
      margin-left: 38%;
      margin-top: -5%;
    }
    .profil{
      background-color: #00FFFF;
      border-radius: 15px;
      width: 50%;
      padding: 2%;
      padding-top: 5%;
      margin-left: 25%;
      margin-top: 5%;
      font-size: 10px;
    }
    .tabel{
      border-collapse: collapse;
      width: 80%;
      margin-left: 10%;
    }
    .button{
      width: 15%;
      margin-top: 2%;
      margin-left: 70%;
      padding: 1%;
      background-image: linear-gradient(to right,black,blue);
      border: none;
      font-size: 10px;
      text-decoration: none;
      color: white;
    }
    .button a{
      text-decoration: none;
      color: white;
    }
    .button:hover{
      background: grey;
      color: white;
    }

    /* Ubah Profil */
    .ganti{
      width: 90%;
      font-size: 10px;
    }
    .upload{
      padding: 1%;
      margin-top: 2%;
      margin-left: 60%;
      background-image: linear-gradient(to right,black,blue);
      color: white;
      border: none;
      text-decoration: none;
      font-size: 10px;
    }
    .upload a{
      text-decoration: none;
      color: white;
    }
    .upload:hover{
      background: grey;
      color: white;
    }
    .batal{
      padding: 1%;
      margin-left: 3%;
      background-image: linear-gradient(to right,black,red);
      color: white;
      border: none;
      font-size: 10px;
    }
    .batal a{
      text-decoration: none;
      color: white;
    }
    .batal:hover{
      background: grey;
      color: white;
    }

  /* Pengaduan */
  .pengaduan {
    background-color: #00FFFF;
    border-radius: 10px;
    padding: 2%;
    width: 50%;
    margin-top: 10%;
    margin-left: 23%;
    font-size: 13px;
  }
  .pernyataan{
    width: 70%;
    padding: 1%;
  }
  .unggah{
    width: 20%;
    padding: 2%;
    background-image: linear-gradient(to right,black,blue);
    color: white;
    border: none;
    font-size: 10px;
  }
  .unggah a{
    text-decoration: none;
    color: white;
  }
  .unggah:hover{
    background: grey;
    color: white;
  }


  /* Tampilan Login */
  .login{
    display: inline-flex;
    background-image: linear-gradient(to left,black,blue);
    border-radius: 10px;
    margin: 50% 10%;
  }
  .gambar1{
    width: 14%;
    height: 14%;
    margin-left: 5%;
    margin-top: 3%;
    margin-right: -7%;
    float: left;
  }
  .orang{
    width: 15%;
    float: left;
    margin-top: 20%;
    margin-left: -15%;
    padding-bottom: 10%;
  }
  .form{
    margin-top: 21%;
  }
  .input{
    float: left;
    margin: 5px 0;
    border: 1px solid grey;
    border-radius: 5px;
    width: 135%;
    background-color:rgba(255, 99, 71, 0);
    padding: 3%;
    margin-left: 10%;
    font-size: 10px;
  }
  input[type=username]{
    color: initial;
  }
  input[type=password]{
    color: initial;
  }
  button[name=login]{
    background-color: blue;
    float: left;
    margin-left: 20%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 5px;
    font-size: 8px;
  }
  button[name=login]:hover{
      background-color: grey;
  }
  .LOGIN{
    color: black;
    text-decoration: none;
  }
  .LOGIN:hover{
    color: white;
  }
  button[name=lupa]{
    background-color: red;
    float: right;
    margin-right: -35%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 5px;
    font-size: 8px;
  }
  button[name=lupa]:hover{
      background-color: grey;
  }
  .LUPA{
    color: black;
    text-decoration: none;
  }
  .LUPA:hover{
    color: white;
  }
}
.lppss{
  text-decoration: none;
  color: black;
}
#demo{
    margin-left: 20%;
    color: red;
    font-style: italic;
    width: 100%;
}/* Ganti Password */
.ganti-password{
  background-color: #00FFFF;
  border-radius: 10px;
  padding: 2%;
  width: 40%;
  margin-top: 10%;
  margin-left: 25%;
  text-align: center;
}
.gntpss{
  padding: 3%;
  width: 90%;
  margin: 1%;
}
.gnt{
  width: 30%;
  padding: 1%;
  font-size: 15px;
}
.gnt a{
  text-decoration: none;
  color: black;
}
.gnt:hover{
  background-color: black;
  color: white;
}

/* Lupa Password */
.lupa-password{
  background-color: #00FFFF;
  border-radius: 10px;
  padding: 1%;
  width: 30%;
  margin-top: 20%;
  margin-left: 35%;
  text-align: center;
}
.email{
  width: 70%;
  margin: 1%;
  padding: 1%;
}
.kirim{
  width: 50%;
  padding: 1%;
  border: none;
  background-color: blue;
}
.kirim a{
  text-decoration: none;
  color: white;
}
.kirim:hover{
  background-color: grey;
}

/* Tampilan Detail */
.detail{
  background-color: white;
  width: 80%;
  margin: 8%;
  padding: 2%;
  border-radius: 10px;
  color: black;
  font-size: 10px;
}
.formulir h3{
color: black;
margin-left: 0%;
text-decoration: underline;
}
.formulir form .form-group{
width: 40%;
}
.formulir form .form-group .form2 input{
width: 70%;
float: right;
color: black;
font-size: 10px;
}
label{
color: black;
}
.form2{
margin-top: 5%;
}
.btn{
text-align: right;
padding: 1%;
}
.btn button{
background-color: blue;
border: none;
padding: 2%;
border-radius: 5px;
cursor: pointer;
color: white;
}
.btn button:hover{
background-color: red;
color: black;
}

@media only screen and (min-width: 600px) {
  body{
    background: url(bg1.jpg) no-repeat center fixed;
    background-size: cover;
  }
  ul{
    list-style: none;
  }
  .judul{
    font-size: 50px;
    text-decoration: underline;
    position: absolute;
    margin-top: 1%;
    color: white;
  }
  .teks {
    font-size: 15px;
    position: absolute;
    margin-top: 6%;
    color: white;
  }
  .container {
    display: inline-flex;
    background-image: linear-gradient(to left,black,blue);
    margin-left: -1%;
    margin-top: -1%;
    margin-right: -0.5%;

  }
  .gambar {
    width: 8%;
    height: 8%;
    margin-right: -2%;
    margin-left: 2%;
    margin-top: 2%;
  }
  .nama{
    font-size: 12px;
    margin-left: 75%;
    color: white;
  }
  .kunci{
    width: 6%;
    height: 7%;
    position: relative;
    left: 78%;
  }
  .arah{
    width: 5%;
    height: 8%;
    position: relative;
    left:84%;
  }
  .keluar{
    text-decoration: none;
    color: white;
  }
  .keluar:hover{
    color: red;
  }
  #keluar{
    display: inline-flex;
    padding-right: 5%;
    position: relative;
    left: 77%;
    font-size: 12px;
  }
  .menu{
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding-right: 20px;
    float: left;
  }
  .menu:hover{
    color: red;
  }
  #menu{
    display:inline-flex;
    position: relative;
    left: -4%;
  }
  .Pengaduan{
    font-size: 20px;
    text-decoration: none;
    color: white;
    float: right;
  }
  .Pengaduan:hover{
    color: red;
  }
  #Pengaduan{
    position: relative;
    right: 3%;
    margin-top: 2%;
  }
  /* Tampilan Pelajaran */
  .jadwal{
    border: 0px;
    border-collapse: collapse;
    background-color: white;
    width: 100%;
    border-color: #808080;
  }
  th{
    background-color: #00CED1;
  }
  td{
    padding: 2%;
  }
  .isi{
    background-image: linear-gradient(to right,black,blue);
    border-radius: 10px;
    margin: 7%;
    padding: 3%;
    text-align: center;
    font-size: 17px;
  }
  .jadwal h1{
    color: white;
  }

    /* Nilai */
    .nilai1{
      border-collapse: collapse;
      background-color: white;
      width: 100%;
    }
    .nilai1 thead{
      background-color: 	#00FFFF;
    }
    .nilai{
      background-image: linear-gradient(to right,black,blue);
      border-radius: 10px;
      margin: 7%;
      padding: 3%;
      text-align: center;
      font-size: 40px;
    }
    .nilai h1{
      color: white;
    }


    /* Profil */
    .orang2{
      width: 20%;
      margin-left: 38%;
      margin-top: -5%;
    }
    .profil{
      background-color: #00FFFF;
      border-radius: 15px;
      width: 50%;
      padding: 2%;
      padding-top: 5%;
      margin-left: 25%;
      margin-top: 5%;
    }
    .tabel{
      border-collapse: collapse;
      width: 80%;
      margin-left: 10%;
    }
    .button{
      width: 10%;
      margin-top: 2%;
      margin-left: 79%;
      padding: 1%;
      background-image: linear-gradient(to right,black,blue);
      color: white;
      border: none;
    }
    .button:hover{
      background: grey;
      color: white;
    }

    /* Ubah Profil */
    .ganti{
      width: 90%;
    }
    .upload{
      padding: 1%;
      margin-top: 2%;
      margin-left: 70%;
      background-image: linear-gradient(to right,black,blue);
      color: white;
      border: none;
      text-decoration: none;
    }
    .upload:hover{
      background: grey;
      color: white;
    }
    .batal{
      padding: 1%;
      margin-left: 3%;
      background-image: linear-gradient(to right,black,red);
      color: white;
      border: none;
    }
    .batal:hover{
      background: grey;
      color: white;
    }

  /* Pengaduan */
  .pengaduan {
    background-color: #00FFFF;
    border-radius: 10px;
    padding: 2%;
    width: 50%;
    margin-top: 5%;
    margin-left: 23%;
  }
  .pernyataan{
    width: 50%;
    padding: 1%;
  }
  .unggah{
    width: 10%;
    padding: 1%;
    background-image: linear-gradient(to right,black,blue);
    color: white;
    border: none;
  }
  .unggah:hover{
    background: grey;
    color: white;
  }

    /* Nilai */
    .nilai1{
      border-collapse: collapse;
      background-color: white;
      width: 100%;
    }
    .nilai1 thead{
      background-color: 	#00FFFF;
    }
    .nilai{
      background-image: linear-gradient(to right,black,blue);
      border-radius: 10px;
      margin: 7%;
      padding: 3%;
      text-align: center;
      font-size: 20px;
    }
    .nilai h1{
      color: white;
    }


    /* Profil */
    .orang2{
      width: 20%;
      margin-left: 38%;
      margin-top: -5%;
    }
    .profil{
      background-color: #00FFFF;
      border-radius: 15px;
      width: 50%;
      padding: 2%;
      padding-top: 5%;
      margin-left: 25%;
      margin-top: 5%;
    }
    .tabel{
      border-collapse: collapse;
      width: 80%;
      margin-left: 10%;
    }
    .button{
      width: 10%;
      margin-top: 2%;
      margin-left: 70%;
      padding: 1%;
      background-image: linear-gradient(to right,black,blue);
      color: white;
      border: none;
    }
    .button:hover{
      background: grey;
      color: white;
    }

    /* Ubah Profil */
    .ganti{
      width: 90%;
    }
    .upload{
      padding: 1%;
      margin-top: 2%;
      margin-left: 70%;
      background-image: linear-gradient(to right,black,blue);
      color: white;
      border: none;
      text-decoration: none;
    }
    .upload:hover{
      background: grey;
      color: white;
    }
    .batal{
      padding: 1%;
      margin-left: 3%;
      background-image: linear-gradient(to right,black,red);
      color: white;
      border: none;
    }
    .batal:hover{
      background: grey;
      color: white;
    }

  /* Pengaduan */
  .pengaduan {
    background-color: #00FFFF;
    border-radius: 10px;
    padding: 2%;
    width: 50%;
    margin-top: 5%;
    margin-left: 23%;
  }
  .pernyataan{
    width: 50%;
    padding: 1%;
  }
  .unggah{
    width: 10%;
    padding: 1%;
    background-image: linear-gradient(to right,black,blue);
    color: white;
    border: none;
  }
  .unggah:hover{
    background: grey;
    color: white;
  }

  /* Tampilan Beranda */
  .Periode{
    background-color: white;
    margin-left: 13%;
    margin-top: 4%;
    width: 75%;
    border-radius: 20px;

  }
  h3{
    padding-top: 2%;
    margin-left: 5%;
  }
  .tanggal{
    margin-left: 3%;
    margin-top: 2%;
    text-align: center;
    border: 0%;
    border-collapse: collapse;
    width: 30%;
    background-color: white;
    float: left;
    font-size: 12px;
  }
  .kepala{
    color: white;
    background-image: linear-gradient(to right,black,blue);
  }
  .kegiatan2{
    width: 62%;
    line-height: 2px;
    margin-right: 1%;
    padding-bottom: 3%;
    font-size: 15px;
  }
  .event{
    margin-top: 10px;;
    width: 78%;
    margin-left: 9.50%;
    line-height: 2px;
    padding: 2px;
  }
  .event ul li {
    background-color: white;
    border-radius: 10px;
    padding: 1% 0 1% 3%;
    margin: 3% 0;
  }
  h4{
    font-size: 18px;
    text-decoration: underline;
  }
  /* Tampilan Login */
  .login{
    display: inline-flex;
    background-image: linear-gradient(to left,black,blue);
    border-radius: 10px;
    margin: 10% 20%;
    width: 60%;
  }
  .gambar1{
    width: 12%;
    height: 12%;
    margin-left: 5%;
    margin-top: 3%;
    margin-right: -4%;
    float: left;
  }
  .orang{
    width: 15%;
    float: left;
    margin-top: 20%;
    margin-left: -10%;
    padding-bottom: 7%;
  }
  .form{
    margin-top: 21%;
  }
  .input{
    float: left;
    margin: 5px 0;
    border: 1px solid grey;
    border-radius: 5px;
    width: 155%;
    background-color:rgba(255, 99, 71, 0);
    padding: 7%;
    margin-left: 15%;
    font-size: 15px;
  }
  input[type=username]{
    color: white;
  }
  input[type=password]{
    color: white;
  }
  button[name=login]{
    background-color: blue;
    float: left;
    margin-left: 35%;
    padding-left: 7%;
    padding-right: 5%;
    border-radius: 5px;
    font-size: 12px;
  }
  button[name=login]:hover{
      background-color: grey;
  }
  .LOGIN{
    color: black;
    text-decoration: none;
  }
  .LOGIN:hover{
    color: white;
  }
  button[name=lupa]{
    background-color: red;
    float: right;
    margin-right: -60%;
    padding-left: 7%;
    padding-right: 5%;
    border-radius: 5px;
    font-size: 12px;
  }
  button[name=lupa]:hover{
      background-color: grey;
  }
  .LUPA{
    color: black;
    text-decoration: none;
  }
  .LUPA:hover{
    color: white;
  }
}
.lppss{
  text-decoration: none;
  color: black;
}
#demo{
    margin-left: 20%;
    color: red;
    font-style: italic;
    width: 100%;
}
.btn-lupa{
  margin-left: 20%;
  width: 50%;
  border: 1px solid white;
  background-color: blue;
  border-radius: 5px;
  cursor: pointer;
}

@media only screen and (min-width: 1200px) {
  body{
    background: url(bg1.jpg) no-repeat center fixed;
    background-size: cover;
  }
  ul{
    list-style: none;
  }
  .judul{
    font-size: 55px;
    text-decoration: underline;
    position: absolute;
    margin-top: 1%;
    color: white;
  }
  .teks {
    font-size: 17px;
    position: absolute;
    margin-top: 6%;
    color: white;
  }
  .container {
    display: inline-flex;
    background-image: linear-gradient(to left,black,blue);
    margin-left: -1%;
    margin-top: -1%;
    margin-right: -0.5%;

  }
  .gambar {
    width: 7%;
    height: 7%;
    margin-right: -2%;
    margin-left: 2%;
    margin-top: 2%;
  }
  .nama{
    font-size: 15px;
    margin-left: 75%;
    color: white;
  }
  .kunci{
    width: 6%;
    height: 7%;
    position: relative;
    left: 76%;
  }
  .arah{
    width: 5%;
    height: 8%;
    position: relative;
    left:83%;
  }
  .keluar{
    text-decoration: none;
    color: white;
  }
  .keluar:hover{
    color: red;
  }
  #keluar{
    display: inline-flex;
    padding-right: 6%;
    position: relative;
    left: 75%;
    font-size: 15px;
  }
  .menu{
    font-size: 24px;
    color: white;
    text-decoration: none;
    padding-right: 30px;
    float: left;
  }
  .menu:hover{
    color: red;
  }
  #menu{
    display:inline-flex;
    position: relative;
    left: -3%;
  }


  /* Tampilan Beranda */
  .Periode{
    background-color: white;
    margin-left: 13%;
    margin-top: 4%;
    width: 75%;
    border-radius: 20px;

  }
  .Periode h3{
    padding-top: 2%;
    margin-left: 5%;
    font-size: 30px;
  }
  .tanggal{
    margin-left: 3%;
    margin-top: 2%;
    text-align: center;
    border: 0%;
    border-collapse: collapse;
    width: 35%;
    background-color: white;
    float: left;
    font-size: 14px;
  }
  .kepala{
    color: white;
    background-image: linear-gradient(to right,black,blue);
  }
  .kegiatan2{
    width: 60%;
    line-height: 2px;
    margin-right: 1%;
    padding-bottom: 3%;
    font-size: 17px;
  }
  .event{
    margin-top: 10px;;
    width: 78%;
    margin-left: 10%;
    line-height: 2px;
    padding: 2px;
  }
  .event ul li {
    background-color: white;
    border-radius: 10px;
    padding: 1% 0 1% 3%;
    margin: 3% 0;
  }
  .event ul li h4{
    font-size: 20px;
    text-decoration: underline;
  }


  /* Tampilan Pelajaran */
  .jadwal{
    border: 0px;
    border-collapse: collapse;
    background-color: white;
    width: 100%;
    border-color: #808080;
  }
  .jadwal th{
    background-color: #00CED1;
  }
  .jadwal td{
    padding: 2%;
  }
  .isi{
    background-image: linear-gradient(to right,black,blue);
    border-radius: 10px;
    margin: 7%;
    padding: 3%;
    text-align: center;
    font-size: 20px;
  }
  .jadwal h1{
    color: white;
  }


  /* Nilai */
  .nilai1{
    border-collapse: collapse;
    background-color: white;
    width: 100%;
  }
  .nilai1 thead{
    background-color: 	#00FFFF;
  }
  .nilai{
    background-image: linear-gradient(to right,black,blue);
    border-radius: 10px;
    margin: 7%;
    padding: 3%;
    text-align: center;
    font-size: 20px;
  }
  .nilai h1{
    color: white;
  }


  /* Profil */
  .orang2{
    width: 20%;
    margin-left: 38%;
    margin-top: -5%;
  }
  .profil{
    background-color: #00FFFF;
    border-radius: 15px;
    width: 50%;
    padding: 2%;
    padding-top: 5%;
    margin-left: 25%;
    margin-top: 5%;
  }
  .tabel{
    border-collapse: collapse;
    width: 80%;
    margin-left: 10%;
  }
  .button{
    width: 10%;
    margin-top: 2%;
    margin-left: 70%;
    padding: 1%;
    background-image: linear-gradient(to right,black,blue);
    color: white;
    border: none;
  }
  .button a{
    text-decoration: none;
    color: white;
  }
  .button:hover{
    background: grey;
    color: white;
  }

  /* Ubah Profil */
  .ganti{
    width: 90%;
  }
  .upload{
    padding: 1%;
    margin-top: 2%;
    margin-left: 70%;
    background-image: linear-gradient(to right,black,blue);
    color: white;
    border: none;
    text-decoration: none;
  }
  .upload a{
    text-decoration: none;
    color: white;
  }
  .upload:hover{
    background: grey;
    color: white;
  }
  .batal{
    padding: 1%;
    margin-left: 3%;
    background-image: linear-gradient(to right,black,red);
    color: white;
    border: none;
  }
  .batal a{
    text-decoration: none;
    color: white;
  }
  .batal:hover{
    background: grey;
    color: white;
  }

/* Pengaduan */
.pengaduan {
  background-color: #00FFFF;
  border-radius: 10px;
  padding: 2%;
  width: 50%;
  margin-top: 5%;
  margin-left: 23%;
}
.pernyataan{
  width: 50%;
  padding: 1%;
}
.unggah{
  width: 10%;
  padding: 1%;
  background-image: linear-gradient(to right,black,blue);
  color: white;
  border: none;
}
.unggah a{
  text-decoration: none;
  color: white;
}
.unggah:hover{
  background: grey;
  color: white;
}

  /* Tampilan Login */
  .login{
    display: inline-flex;
    background-image: linear-gradient(to left,black,blue);
    border-radius: 10px;
    margin: 10% 20%;
    width: 60%;
  }
  .gambar1{
    width: 12%;
    height: 12%;
    margin-left: 5%;
    margin-top: 3%;
    margin-right: -4%;
    float: left;
  }
  .orang{
    width: 15%;
    height: 15%;
    float: left;
    margin-top: 20%;
    margin-left: -10%;
    padding-bottom: 7%;
  }
  .login .form{
    margin-top: 15%;
    padding: 5%;
  }
  .input{
    float: left;
    margin: 5px 0;
    border: 1px solid grey;
    border-radius: 5px;
    width: 155%;
    background-color:rgba(255, 99, 71, 0);
    padding: 7%;
    margin-left: 15%;
    font-size: 15px;
  }
  input[type=username]{
    color: black;
  }
  input[type=password]{
    color: black;
  }
  button[name=login]{
    background-color: blue;
    float: left;
    margin-left: 35%;
    padding-left: 7%;
    padding-right: 5%;
    border-radius: 5px;
    font-size: 12px;
  }
  button[name=login]:hover{
    background-color: grey;
  }
  .LOGIN{
    color: black;
    text-decoration: none;
  }
  .LOGIN:hover{
    color: white;
  }
  button[name=lupa]{
    background-color: red;
    float: right;
    margin-right: -60%;
    padding-left: 7%;
    padding-right: 5%;
    border-radius: 5px;
    font-size: 12px;
  }
  button[name=lupa]:hover{
      background-color: grey;
  }
  .LUPA{
    color: black;
    text-decoration: none;
  }
  .LUPA:hover{
    color: white;
  }

  /* Ganti Password */
  .ganti-password{
    background-color: #00FFFF;
    border-radius: 10px;
    padding: 2%;
    width: 40%;
    margin-top: 10%;
    margin-left: 25%;
    text-align: center  ;
  }
  .gntpss{
    padding: 3%;
    width: 90%;
    margin: 1%;
  }
  .gnt{
    width: 30%;
    padding: 1%;
    font-size: 15px;
  }
  .gnt a{
    text-decoration: none;
    color: black;
  }
  .gnt:hover{
    background-color: blue;
    color: white;
  }

  /* Lupa Password */
  .lupa-password{
    background-color: #00FFFF;
    border-radius: 10px;
    padding: 1%;
    width: 30%;
    margin-top: 20%;
    margin-left: 35%;
    text-align: center;
  }
  .email{
    width: 70%;
    margin: 1%;
    padding: 1%;
  }
  .kirim{
    width: 50%;
    padding: 1%;
    border: none;
    background-color: blue;
  }
  .kirim a{
    text-decoration: none;
    color: white;
  }
  .kirim:hover{
    background-color: grey;
  }

  /* Tampilan Detail */
  .detail{
    background-color: white;
    width: 80%;
    margin: 8%;
    padding: 2%;
    border-radius: 10px;
    color: black;
    font-size: 20px;
}
.formulir h3{
  color: black;
  margin-left: 0%;
  text-decoration: underline;
}
.formulir form .form-group{
width: 40%;
}
.formulir form .form-group .form2 input{
  width: 70%;
  float: right;
  padding: 1%;
  color: black;
  font-size: 15px;
}
label{
  color: black;
}
.form2{
  margin-top: 5%;
}
.btn{
  text-align: right;
  padding: 1%;
}
.btn button{
  background-color: blue;
  border: none;
  padding: 2%;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}
.btn button:hover{
  background-color: red;
  color: black;
}
